html{
    background-color: var(--black);
    color: var(--white);
}

html, body, #index, main {
    height: 100%;
}

#index main {
    min-height: 23rem;
    background-color: var(--orange);
    background-image: linear-gradient(to bottom, transparent, var(--orange), var(--black));
    margin: 16px clamp(16px,4vw,2rem) 0;
    border-radius: 1rem 1rem 0 0;
    padding: 0 clamp(1rem, 4vw, 2rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* ============================
    PIZZA GRAPHIC
================================ */
.graphic {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 6rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphic .title, .donut-chart, .donut-chart svg {
    position: absolute;
}

.graphic .title {
    width: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: clamp(16px,4vw,22px);
}

.title p { width: 100%; }

.circle-border {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 26px solid var(--white);
    box-sizing: border-box;
}

.donut-chart {
    width: 100%;
    height: 100%;
}

.donut-chart svg{
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.donut-piece {
    width: 100%;
    cy: 50%;
    cx: 50%;
    r: calc(87%/2);
    stroke-width: 15;
    fill: none;

    stroke-dasharray: 547;
    stroke-dashoffset: 547;
    stroke-linecap: round;
}

.fifty-five .donut-piece {animation: fifty-five 1.5s ease-out forwards;}
.thirty .donut-piece {animation: thirty 1.5s ease-out forwards;}
.ten .donut-piece {animation: ten 1.5s ease-out forwards;}
.five .donut-piece {animation: five 1.5s ease-out forwards;}

.edit-salary {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.edit-salary figure img {
    width: clamp(22px,4vw,35px);
}

section + section {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 3px solid;
    overflow: visible auto;
}

.description {
    min-width: 202px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(12px,4vw,1.8rem);
    position: relative;
}

.description-left, .description-right {
    width: 49%;
}

.description-left span {
    display: flex;
    align-items: center;
}

.description span p {
    padding-left: 25px;
}

.description-right p {
    width: initial;
}

.circle {
    width: clamp(12px, 4vw, 25px);
    height: clamp(12px, 4vw, 25px);
    background-color: var(--black);
    border-radius: 1rem;
    position: absolute;
    left: 0;
}

/* ============================
    ANIMATION
================================ */
@keyframes fifty-five {to {stroke-dashoffset: 198;}}
@keyframes thirty {to {stroke-dashoffset: 132;}}
@keyframes ten {to {stroke-dashoffset: 44;}}
@keyframes five {to {stroke-dashoffset: 0;}}